/*This is the header.css file. The header is divided into 3 areas: rightSection, middleSection and leftSection*/

.header {
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(223, 223, 223);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

/*Code for Left Section*/
.leftSection {
    display: flex;
    align-items: center;
}

/*Buttons*/
.menuButton {
    background-color: white;
    border-style: none;
    margin-left: 20px;
    padding-top: 2px;
    cursor: pointer;
}
.logoButton {
    background-color: white;
    border-style: none;
    margin-left: 13px;
    cursor: pointer;
}

/*Icons*/
.menuIcon {
    height: 24px;
}
.logoIcon {
    height: 20px;
}

/*Code for Middle Section*/
.middleSection {
    display: flex;
    margin-left: 70px;
    margin-right: 35px;
    flex: 1;
    max-width: 650px;
    align-items: center;
}
.searchBar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: #d3d3d3;
    border-radius: 2px;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05)
}
.searchBar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

/*Buttons*/
/*Search Button*/
.searchButton {
    height: 40px;
    width: 60px;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    margin-left: -1px;
    position: relative;
    cursor: pointer;
}
.searchButton div {
    position: absolute;
    top: 47px;
    left: 5px;
    background-color: rgb(184, 184, 184);
    color: white;
    font-family: Roboto, Arial;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}
.searchButton:hover div {
    opacity: 1;
}

/*Voice Button*/
.voiceButton {
    height: 40px;
    width: 40px;
    margin-left: 20px;
    border-radius: 20px;
    border-style: none;
    position: relative;
    cursor: pointer;

}
.voiceButton div {
    position: absolute;
    top: 47px;
    left: -45px;
    background-color: rgb(184, 184, 184);
    color: white;
    font-family: Roboto, Arial;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
    white-space: nowrap;
}
.voiceButton:hover div {
    opacity: 1;
}

/*Icons*/
.searchIcon {
    height: 18px;
    margin-top: 4px;
}
.voiceIcon {
    height: 18px;
    margin-top: 4px;
}

/*Code for Right Section*/
.rightSection {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
    flex-shrink: 0;
}

/*Buttons*/
/*Live Button*/
.liveButton {
    background-color: white;
    border-style: none;
    position: relative;
    cursor: pointer;
}
.liveButton div {
    position: absolute;
    top: 42px;
    left: -5px;
    background-color: rgb(184, 184, 184);
    color: white;
    font-family: Roboto, Arial;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}
.liveButton:hover div {
    opacity: 1;
}

/*Notification Button*/
.bellButton {
    background-color: white;
    border-style: none;
    cursor: pointer;
    position: relative;
}
.bellNotification {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    font-family: Roboto, Arial;
    font-size: 11px;
    color: white;
    background-color: red;
    border-radius: 20px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
}
.bellText {
    position: absolute;
    top: 42px;
    left: -20px;
    background-color: rgb(184, 184, 184);
    color: white;
    font-family: Roboto, Arial;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}
.bellButton:hover .bellText {
    opacity: 1;
}

/*Profile Button*/
.profileButton {
    background-color: white;
    border-style: none;
    cursor: pointer;
}

/*Icons*/
.liveIcon {
    height: 22px;
}
.bellIcon {
    height: 22px;
}
.profileIcon {
    height: 36px;
    border-radius: 18px;
}

