/*This is the videoCard.css file. It contains the styles for the video presentation*/

.videoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 40px;
    z-index: 0;
}

.thumbnailRow {
    position: relative;
}

.videoTime {
    background-color: rgb(17, 17, 17);
    color: white;
    position: absolute;
    bottom: 25px;
    right: 5px;
    font-size: 13px;
    font-family: Roboto, Arial;
    font-weight: 600;
    border-style: solid;
    border-color: rgb(17, 17, 17);
    border-radius: 2px;
}

.thumbnail {
    width: 100%;
    margin-bottom: 15px;
}

.videoPreview{
    max-width: 320px;
    min-width: 200px;
}

.videoInfo {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.logo {
    width: 40px;
    border-radius: 50px;
}

.info {
    font-family: Roboto, Arial;
}

.videoTitle {
    font-weight: 700;
    line-height: 20px;
    margin: 0px;
    font-size: 17px; 
}

.authorName, .videoStats {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    color: rgb(102, 102, 102);
}