/*This is the youtube.css file. It contains the style of the website's body*/

body {
    padding-top: 78px; 
    padding-left: 95px;
    margin: 0;
    height: 1500px;
    background-color: rgb(249, 249, 249);;
}
